@import './components';

.navbar {
  width: 100vw;
  z-index: 1000;
  position: fixed;
  top: -1px;
  background: $content-background;
  backdrop-filter: blur(1em);
  box-shadow: $box-shadow-none;
  border: $border-none;
  border-radius: $border-radius-none;
  padding: 1em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;

    .application-header {
      display: flex;
      align-items: center;
      gap: 1em;
      text-decoration: none;
      z-index: 999;

      h1 {
        color: $white-text-color;
        font-size: 1.5em;
        margin: 0;
      }
    }
  }

  .iconify {
    font-size: 2rem;
    color: $white-text-color !important;
  }

  @media (min-width: $md) {
    max-height: 100px;
  }
}

body:has(#back-office) {
  .navbar {
    display: none;
  }
}
