@import './components';

.navbar {
  width: 100vw;
  z-index: 1000;
  position: fixed;
  top: -1px;
  background: $content-background;
  backdrop-filter: blur(1em);
  box-shadow: $box-shadow-none;
  border: $border-none;
  border-radius: $border-radius-none;
  padding: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;

    .application-header {
      display: flex;
      align-items: center;
      gap: 1em;
      text-decoration: none;
      z-index: 999;
      color: inherit;

      &-text {
        display: none;
        font-size: 1.5em;
        margin: 0;
      }
    }
  }

  .navbar-actions {
    display: flex;
    align-items: center;
  }

  .nuc-lang-switcher {
    display: none;
  }

  .nuc-submit-button {
    margin-top: 0;
    white-space: nowrap;
  }

  @media (min-width: $md) {
    max-height: 100px;

    .container {  
      .application-header {
        &-text {
          display: block;
        }
      }
    }

    .nuc-lang-switcher {
      display: flex;
    }
  }
}

body:has(#back-office) {
  .navbar {
    display: none;
  }
}
