@import './components';

.navbar {
  width: 100vw;
  z-index: 1000;
  position: fixed;
  top: -1px;
  background: $content-background;
  backdrop-filter: blur(1em);
  box-shadow: $box-shadow-none;
  border: $border-none;
  border-radius: $border-radius-none;
  padding: 1em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;

    .application-header {
      display: flex;
      align-items: center;
      gap: 1em;
      text-decoration: none;
      z-index: 999;

      &-text {
        display: none;
        color: $white-text-color;
        font-size: 1.5em;
        margin: 0;
      }
    }
  }

  .nuc-submit-button {
    margin-top: 0;
  }

  @media (min-width: $md) {
    max-height: 100px;


    .container {  
      .application-header {
        &-text {
          display: block;
        }
      }
    }
  }
}

body:has(#back-office) {
  .navbar {
    display: none;
  }
}
