.p-dialog-mask:has(#email-us) {
  backdrop-filter: blur(0.5em);
  z-index: 9999 !important;

  .p-dialog {
    position: relative;
    width: 95vw !important;
    max-width: 500px !important;
    background: rgb(0 0 0 / 50%) !important;
    border: none !important;
    padding: 0 !important;

    .p-dialog-header {
      position: absolute;
      width: 100%;

      &-actions {
        position: absolute;
        right: .5rem;
        top: .5rem;
        z-index: 9;
      }
    }

    .p-dialog-content {
      padding: 0 !important;

      .p-card {
        border: 1px solid nuc-primary-rgba(0.25) !important;
      }
    }
  }
}

.p-dialog-mask .p-dialog.section-email-us-dialog {
  width: 95vw;
  max-width: 480px;
  max-height: 80vh;
  background: $bg-dark-green-color !important;
  border: 1px solid nuc-primary-rgba(0.2) !important;
  border-radius: 20px;
  padding: 1.5rem;

  .p-dialog-header {
    width: 100%;
    padding: 0;

    &-icons {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      z-index: 9;
    }
  }

  .p-dialog-content {
    padding: 0;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: nuc-primary-rgba(0.25) transparent;

    .p-card {
      background: transparent !important;
      border: none;
      box-shadow: none;
      padding: 0;

      &-body {
        padding: 0;
      }

      .p-card-content {
        padding: 0;
      }
    }
  }
}

body:has(#home, #offer) {
  .p-toast-message {
    top: 6rem !important;
  }
}
