#footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;

  .hexagon-rows-container {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .hexagon-row-container {
      top: 120px;
    }
  }

  a:has(.v1-release-countdown) {
    z-index: 999;
    
    .v1-release-countdown {
      position: absolute;
      bottom: .5em;
      left: 0;
      right: 0;
    }
  }

  .footer-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 30px 20px;
    z-index: 999;

    .bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 3em;
    }

    .top {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 3.5em;
      width: 100%;

      .header {
        display: flex;
        align-items: center;
        gap: 1em;
        color: $white-text-color;
        text-decoration: none;
        max-width: max-content;

        .name {
          font-size: 1.6em;
          font-weight: bold;
          margin: 0;
        }
      }

      .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .column-1,
        .column-2,
        .column-3,
        .column-4 {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          width: 50%;
          max-width: 320px;
          margin-bottom: 30px;

          a {
            color: $white-text-color;
            font-size: 0.9em;
            text-decoration: none;
            font-weight: 300;
            max-width: max-content;
            transition: all 150ms;

            p.header {
              font-size: 1.4em;
              font-weight: 600;
              font-family: $font-inter-sans-serif;
            }

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .footer-content-container {
      width: 100%;
      max-width: 1300px;
      padding: 80px 45px;
      display: flex;

      .top {
        gap: 4em;

        .column-1,
        .column-2,
        .column-3 {
          max-width: 200px !important;
        }

        .header {
          display: flex;
          align-items: center;
          gap: 1.5em;

          .name {
            color: white;
            font-size: 2em;
            font-weight: bold;
            margin: 0;
          }
        }
      }

      .bottom {
        justify-content: flex-end;
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
}
