#why-us {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  .circle-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: min-content;
    padding: .35em;
    border-radius: 8px;
    color: $white-text-color;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
  
    .iconify {
      transition: all 0.3s ease;
      color: $white-text-color;
      font-size: 1.25em;
    }
  
    &:hover {
      .iconify {
        color: $primary-color;
      }
    }
  
    @media (min-width: 768px) {
      padding: 12px;
  
      .iconify {
        font-size: 20px;
      }
    }
  
    @media (min-width: 992px) {
      .iconify {
        font-size: 1.8rem;
      }
    }
  }  
}

.section-header {
  position: absolute;
  animation: fade-in 1s forwards;
  color: $primary-white-green-text-color;
  margin-top: -3.5rem;
  padding-top: 50px;

  span {
    font-family: $font-inter-sans-serif;
    font-size: $font-size-lg;
    font-weight: 700;
    opacity: 0;
  }

  & > span:last-child {
    @extend %shiny;
  }
}

.viewport-box {
  width: 100%;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.main-circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: relative;
  user-select: none;
}

@media (min-width: 400px) {
  .viewport-box {
    min-width: 300px;
  }

  .main-circle {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 768px) {
  .viewport-box {
    min-width: 400px;
  }

  .main-circle {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 992px) {
  .viewport-box {
    min-width: 450px;
  }

  .main-circle {
    width: 450px;
    height: 450px;
  }
}

.why-us-dialog {
  width: 100%;
  max-width: 400px;
  margin: 4rem;

  button {
    display: none !important;
  }

  .p-dialog-content {
    top: -1px;

    p {
      margin: 0;
    }
  }

  .p-dialog-header {
    display: flex;
    justify-content: start;
    gap: 2rem;
    font-family: $font-inter-sans-serif;
    font-size: $font-size-md;

    h4 {
      margin: 0;
    }

    span.iconify {
      font-size: $font-size-lg;
    }
  }

  .p-dialog-footer {
    display: none;
  }
}

